.about_img_container {
  margin: auto;
  margin-top: 50vh;
  width: 100%;
}

.about_card_container {
  width: 100vw;
}

.card_row {
  display: flex;
  flex-direction: row;
  width: 100%;

  height: 80vh;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.photo_container {
  width: 100vw;
  height: 30vh;
}
.photo_text {
  margin: auto;
  text-align: center;
  width: 60vw;
  font-size: 30px;

  color: black;
}

.animation_container_left {
  position: relative;
  left: 10vw;

  transform: rotate(-10deg);
  transition: ease-in 0.25s;
}
.animation_container_center {
  transform: rotate(0deg);

  transition: ease-in 0.25s;
}
.animation_container_right {
  position: relative;
  right: 10vw;
  transform: rotate(10deg);
  transition: ease-in 0.25s;
}

.cards__picture__pic-wrap {
  position: relative;

  height: 58vh;
  width: 26vh;
}
@media screen and (max-width: 960px) {
  .photo_text {
    margin: auto;
    text-align: center;
    width: 80vw;
    font-size: 18px;

    color: black;
  }

  .animation_container_left {
    width: 30vw;
    position: relative;
    left: -10vw;
  }
  .animation_container_center {
    width: 30vw;
    height: 60vw;
    position: relative;
    top: 5vw;
    left: -5vw;
  }
  .animation_container_right {
    width: 30vw;
    position: relative;
    right: 0;
    left: -7vw;
  }
  .about_card_container {
    margin-left: -5vw;
  }
}
