* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.plainsight,
.vegify,
.quantify,
.this_website {
  display: flex;

  align-items: center;
  justify-content: center;
}

.plainsight {
  background-image: url("/public/images/plainsight-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: 20vh;
  font-size: 100px;
}

.vegify {
  background-image: url("/public/images/plainsight-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: 20vh;
  font-size: 100px;
}

.quantify {
  background-image: url("/public/images/quantify-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-top: 20vh;
  font-size: 100px;
}

.appdisplay {
  margin-bottom: 100vh;
}

.navbarPortfolio {
  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12vh;

  position: sticky;
  top: 0;
  z-index: 900;
}

.portfolio_navbar_wrapper {
  margin-top: 12vh;
}

.portfolio_navbar {
  position: absolute;
  right: 25px;
  width: 35vw;

  align-items: center;
  justify-content: flex-end;

  height: 100px;
}

.title_icon {
  max-width: 60px;
  border-radius: 12px;
  max-height: 60px;
  margin: 2vh;
  margin-right: 5px;
  margin-left: 5px;
  object-fit: cover;
  transition: all 0.2s linear;
}

.app_btn_title {
  font-size: 12;
  font-weight: 700;
  color: #fff;
  background-color: #3b4f86;
  opacity: 0.8;
  padding: 1px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
}

.appScroll {
  flex: 1;
  flex-direction: column;
}

.contact_button_container {
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20vw;
  left: 20vw;
  bottom: 6vh;
}

@media screen and (max-width: 960px) {
  .plainsight,
  .vegify,
  .quantify,
  .this_website {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
  }
  .navbarPortfolio {
    display: none;
  }
  .contact_button_container {
    width: 50vw;

    left: 100px;
    margin-top: 50vh;
  }
}
