.cards {
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

.cards__container {
  display: flex;

  max-width: 1120px;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s;

  width: 100%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  justify-content: center;
  align-items: center;

  margin: auto;
}

.cards__items {
  display: flex;
}

.cards__item {
  display: flex;
  flex: 1;

  margin: 0 1rem;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 26vh;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 6px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;

  height: 58vh;
  width: 26vh;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;

  box-sizing: border-box;
}
.cards_inview {
  width: 100vw;

  justify-content: center;
  align-items: center;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 10px 20px 20px;
}

.cards__item__text {
  color: #252e48;
  font-size: 12px;
  line-height: 16px;
}
.about_container {
  text-align: center;
  margin: auto;

  width: 55vw;
}

.about_text {
  padding: 5vw;
  font-size: 22px;
  font-weight: 700;
}
.about__cards__item__img {
  height: 22vw;
  border-radius: 10px;
}

.about__cards__item__link {
  height: 22vw;
  width: 16vw;
}
.about__cards__item {
  margin-bottom: 1rem;
  height: 22vw;
  width: 16vw;
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 10vh;
    height: 70vw;
    width: 32vw;
  }
  .cards__item__img {
    height: 100vw;
    width: 32vw;
  }
  .about__cards__item__img {
    height: 75vw;
  }
  .cards__item__link {
    height: 100vw;
    width: 32vw;
  }
  .about__cards__item__link {
    height: 70vw;
    width: 42vw;
  }
  .about__cards__item {
    margin-bottom: 2rem;
    height: 50vw;
    width: 60vw;
  }
  .cards {
    padding: 0;

    display: flex;
    flex-direction: row;
  }

  .about_text {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10vw;
  }

  .about_container {
    padding: 5%;
    text-align: center;
    position: relative;

    width: 75vw;
  }
  .cards__container {
    transform: none;
    transition: none;
    margin-top: 5vh;
  }

  .cards__items {
    display: flex;
    width: 90vw;
  }
  .cards__wrapper {
    width: 90vw;
  }
  .cards__item__info {
    padding: 5px 10px 10px;
  }
}
