.timeline_container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  height: 400vh;
  margin: auto;
  margin-top: 15%;
}
.experience_container {
  position: relative;
  align-items: center;
  justify-content: center;
  top: 10vh;
  width: 100vw;
}
.experience_timeline_title {
  position: relative;
  top: 10vh;
  margin-bottom: 10vh;
  font-size: 40px;
}

.timeline {
  width: 100%;
  height: 400vh;
  display: flex;
  flex-direction: row;
}

.line_container {
  margin: auto;
  height: 400vh;
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  margin-right: 3vw;
  align-items: center;
}
.line_end {
  width: 50px;
  height: 100px;
  border-radius: 100vh;
  border-style: solid;
  border-width: 10px;
  border-color: #105652;
  background-color: #b91646;
}
.timeline_line {
  width: 10px;

  background-color: #105652;
  height: 400vh;
}

.jobs_icons_list {
  flex: 5;

  height: 200vh;
  display: flex;
  flex-direction: column;
  margin-top: 0vw;
}
.logo_container {
  display: flex;
  flex-direction: column;

  align-items: center;
  transition: ease-in 0.5s;
}

.job_logo {
  height: 9vw;
  width: 9vw;
  margin-top: 10vw;
}
.job_date {
  flex: 1;
  margin: auto;
  font-size: 5vw;
  font-weight: 900;
  text-align: center;
}
.job_info {
  margin-top: 10vw;
  height: 32vw;
  width: 70vw;
}
.job_textbox_container:hover {
  transform: scale(1.1);
  transition: ease-in 0.1s;
}

.job_container {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.job_marker {
  width: 2vw;
  height: 2vw;
  margin: 2vw;
  border-radius: 10vw;
  border-style: solid;
  border-width: 0.5vw;
  border-color: #b91646;
  background-color: #105652;
  margin-top: 17vw;
}

.job_textbox_container {
  margin-top: 13vw;
  height: 10vw;
  width: 18vw;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.5vw;
  border-color: #fbf3e4;
  background-color: #dfd8ca;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.57);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  transition: ease-in 0.5s;
  padding: 6px;
}

.jobtitle {
  margin-left: 15px;
  margin-top: 1vw;
  margin-right: 15px;
  text-align: left;
  font-size: 1.5vw;
}
.joblocation {
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
  font-size: 1.2vw;
  font-style: italic;
}
.jobextra {
  margin-left: 15px;
  text-align: left;
  margin-right: 15px;
  font-size: 1.2vw;
}

.timeline_mobile {
  display: none;
}
@media screen and (max-width: 960px) {
  .timeline_container {
    width: 90vw;
    height: 50vh;
    margin: auto;
    margin-top: 20px;
  }

  .experience_container {
    height: 230vh;
  }

  .timeline {
    display: none;
  }

  .timeline_mobile {
    width: 100vw;

    display: flex;
    flex-direction: row;
  }

  .line_container_mobile {
    height: 200vh;
    display: flex;
    flex-direction: column;

    align-items: center;
  }
  .line_end {
    width: 50px;
    height: 100px;
    border-radius: 100vh;
    border-style: solid;
    border-width: 10px;
  }
  .timeline_line_mobile {
    width: 10px;
    background-color: #105652;
    height: 200vh;
  }

  .jobs_list_mobile {
    margin-top: 5vh;
    flex: 25;
    height: 400vw;
    display: flex;
    flex-direction: column;
  }
  .icons_list_mobile {
    flex: 5;

    height: 200vh;
    display: flex;
    flex-direction: column;
    margin-top: 0vw;
  }
  .logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1vh;
    transform: none;
  }

  .job_logo {
    height: 11vw;
    width: 11vw;
    margin-top: 25vw;
  }
  .job_date {
    flex: 1;
    margin: auto;
    font-size: 5vw;
    font-weight: 900;
    text-align: center;
  }
  .job_info {
    margin-left: 5vw;
    margin-top: 10vw;
    height: 32vw;
    width: 70vw;
  }
  .job_textbox_container:hover {
    transform: scale(1.1);
    transition: ease-in 0.1s;
  }

  .job_container {
    display: flex;
    flex-direction: row;
  }

  .job_marker {
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;

    margin-top: 23vw;
    margin-left: -3vw;
  }

  .job_textbox_container {
    flex: 10;
    margin-left: 2vw;
    margin-top: 13.5vw;
    height: 28vw;
    width: 50vw;

    border-radius: 15px;
  }

  .jobtitle {
    margin-left: 15px;
    margin-top: 3vw;
    margin-right: 15px;
    text-align: left;
    font-size: 4vw;
  }
  .joblocation {
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    font-size: 4vw;
    font-style: italic;
  }
  .jobextra {
    margin-left: 15px;
    text-align: left;
    margin-right: 15px;
    font-size: 3vw;
  }
  .experience_timeline_title {
    margin: auto;
    margin-top: -5vh;
    margin-bottom: 15vh;
    width: 80vw;
    font-size: 30px;
  }
}
