* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

video::-webkit-media-controls {
  display: none;
}

.home,
.about,
.portfolio_container,
.experience {
  display: flex;
  height: 100vh;
}

.about {
  background-image: url("../public/images/img-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.portfolio_container {
  background-image: url("../public/images/backgroundportfolio.png");
  flex-direction: column;
  background-position: left;
  background-size: fill;
  background-repeat: no-repeat;
}

.titles_container {
  height: 100%;
  position: absolute;
  top: 20vh;
  left: 5vw;
}

.portfolio_title {
  color: #4663ac;
  font-weight: 800;
  font-size: 160px;
  text-align: left;

  animation: 1s ease-out 0s 1 slideInFromTop;
}
.portfolio_subtitle {
  color: #657fc0;
  font-weight: 800;
  font-size: 100px;
  text-align: left;

  animation: 0.8s ease-out 0s 1 slideInFromLeft;
}

.lottie_container {
  position: absolute;
  left: 100px;
  margin-top: 70vh;
}

.experience {
  background-image: url("../public/images/backgroundportfolio.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100px;
}

@media screen and (max-width: 960px) {
  .portfolio_title {
    font-size: 70px;
  }
  .portfolio_subtitle {
    font-size: 50px;
  }

  .portfolio_img {
    width: 60vw;

    left: 0vw;
  }

  .lottie_container {
    position: absolute;
    left: 0px;
    margin-top: 60vh;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateX(0);
  }
}
